---
import { actions } from 'astro:actions'
import PlaceCard from '../components/PlaceCard.astro'
import MainLayout from '../layouts/MainLayout.astro'

const { data = [], error } = await actions.getPlaces()

if (error) {
  throw new Error('Failed to get places')
}

console.log(data)
---

<MainLayout>
  <h1 class='text-3xl font-extrabold'>Lugares</h1>

  <div class='grid grid-cols-3 gap-4 items-stretch'>
    {data.map((place) => <PlaceCard place={place} />)}
  </div>
</MainLayout>
